/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== GENERAL SETTINGS =====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: rgb(252, 252, 253);
    background-position: center;
    font-family: Poppins;
    color: rgb(77, 70, 70);
}

.container {
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,p,ul{
    margin: 0;
  }
  
ul{
    padding: 0;
    list-style: none;
  }
  
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(112, 112, 112);
  }

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.widget{
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right:  27vh;
}

.widget a{
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 6px;
  background: rgba(26, 25, 25, 0.8);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.widget a:hover {
  background: tomato;
  border: tomato;
}


/*===== PRELOAD =====*/

.preload {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud1, .cloud2, .cloud3 {
  height: 100px;
  position: absolute;
}

.cloud1 {
  top: 50%;
}

.cloud1 {
  
}

.cloud1 {
  
}

/*===== HOMEPAGE CONTAINERS =====*/

.homepage {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    min-height: 82vh;
    width: 67%;
    padding: 2rem 2rem 2rem 2rem;
    z-index: 100;
    box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
    -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
    -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
    position: absolute;
    z-index: 100;
}

/*===== NAV Full Screen =====*/

nav {
  height: 8vh;
  position: relative;
  background:white;
  padding-top: 1.5rem;
  padding-left: 1rem;
  z-index: 4;
}

.vcnlogo {
  font-size: 1.3rem;
  display: flex;
}

.twittervnc {
  height: 3.5vh;
  margin-right: 0.2rem;
  margin-left: 0.5rem;
}

.line {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: rgb(252, 140, 99);
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 45%;
  transform: translate(-5%, -20%);
  z-index: 2;
}

.menu {
  height: 60%;
  width: 35%;
  margin-left: auto;
  margin-top: -2rem;
  margin-right: 7rem;
  transform: transition 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.showmenu a {
  transition: all 3s ease-in-out;
  color: rgb(12, 12, 12);
}

.showmenu a:hover {
  color: tomato;
  cursor: pointer;
}

.showmenu li {
  transition: transform 0.5s ease;
}

.showmenu li:hover {
  transform: translateY(5px);
}

/*===== HOME-CONTENT FULL SCREEN =====*/

@media screen and (min-width: 768px){
  .homepagecontent {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
  }
}

.homecontent {
  height: 100%;
  flex: 0.7;
}

.titletext {
  height: 15%;
  padding-left: 0.3rem;
  margin-top: 9rem;
  display: flex;
  align-items: center;
}

.VNCmaintitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.contentsubtitle {
  -webkit-transform: rotate(-90deg);
  font-size: 2rem;
  border-bottom: solid 2px;
  font-family: poppins;
}  

.subtitle {
  font-size: 2.5rem;
  font-weight: bolder;
  position: absolute;
  top: 28.5%;
  left: 10%;
}

.homecontent h1 {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}


.maintext {
  margin-top: 1rem;
  width: 45%;
  padding-left: 2rem;
}

.catchytext {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.coverimage {
  height: 88%;
  width: 58%;
  position: absolute;
  top: 8%;
  left: 50%;
  z-index: -1;
  display: flex;
  margin-left: 1rem;
}

.coverimgbackground {
  height: 100%;
  width: 100%;
  background: #979696;
}

.mainimage{
  height: 100%;
  width: 100%;
}

.homecontent h1 {
  font-family: Didact Gothic;
  font-size: 2.4rem;
}

.homecontent .contentsubtitle {
  margin: 0rem 0rem 1rem 0rem;
}

.homecontent hr {
  width: 500px;
  display:inline-block;
}

#headline {
  width: 70%;
  font-size: 1.1rem;
  margin-top: 0.3rem;
  margin-left:-0.1rem;
  font-family: poppins;
}

.homesubcontent {
  height: 100%;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding-top: 20rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}

.featuredimg {
  margin-bottom: 2rem;
  margin-top: 6rem;
  margin-left: 5rem;
}

.websiteby {
  margin-left: 5rem;
}

/*=== timercountdown ===*/
.hometimer {
  margin-top: -0.8rem;
  color: #333;
  text-align: center;
  width: 80%;
  margin-left: -6%;
}

.hometimer li {
  display: inline-block;
  font-size: 0.6rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.hometimer li span {
  display: block;
  font-size: 1.2rem;
}

.message {
  font-size: 4rem;
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}

@media all and (max-width: 768px) {
  .hometimer h1 {
    font-size: 1.5rem;
  }
  
  .hometimer li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  .hometimer li span {
    font-size: 3.375rem;
  }
}

.scrolldown {
  height: 10%;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-left:-0.5rem;
}

.scrolldown img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}


/*=== https://codepen.io/chancesq/pen/qBOyQoW ===*/

/*===== HOME-CONTENT MOBILE =====*/

/*===== PROGRAMMEPAGE FULL SCREEN=====*/

.programmepage {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  min-height: 82vh;
  width: 67%;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 100;
  box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
}

@media screen and (min-width: 768px){
  .programmecontent {
    max-width: 100%;
    margin: 3rem 1rem 0rem 1rem;
    height: 0vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "programmecontent programimage";
  }
}

.progtext {
  background: rgb(255, 255, 255);
  height: 60vh;
  width: 100%;
  grid-area: programmecontent;
  margin-right: 2rem;
  margin-top: 3rem;
  padding: 1rem 2rem;
  transition: transform 0.3 ease;
  font-family: poppins;
}

.bg_slider {
  --initialTextColor: rgb(0, 0, 0);
  --slideTextColor: rgb(95,93,93);

  --initialBgColor: #ffffff;
  --slideBgColor: rgb(95, 93, 93);

  color: var(--initialTextColor);

  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position .42s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.1s;
}

.bg_slider:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}


.progtext hr{
  margin-top: 1rem;
}

.progtext p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.85rem;
  text-align: justify;
}

.progbuttons {
  height: 20vh;
}

.programcta {
  margin-left: 2rem;
  margin-top: -1rem;
}

.progtext h4 {
      transition: transform .3s;
      font-size: 1.2rem;
      color: white;
}

.progtext h4:hover {
  transform: translateY(5.5px);
}

.progtext a {
  color: white;
}

.progtext a:hover {
  color: coral;
}

.prog2, .prog3 {
  margin-top: 0.9rem;
}

.programmeimage {
  max-width: 50rem;
  height: 100%;
  grid-area: programimage;
  margin-top: 3.5rem;
  margin-bottom: 30px;
  padding-left: 5rem;
}

.programmeimage .img1 {
  height: 7rem;
  width: 15rem;
  position: absolute;
  margin-top: 23rem;
}

.programmeimage .img2 {
  background: gold;
  position: relative;
  height: 22rem;
  width: 15rem;
  top: 0%;
}

.programmeimage .img3 {
  height: 30rem;
  width: 10rem;
  position: absolute;
  margin-left: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  height: 30%;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  top: 20%;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 4rem;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popcontent {
  margin-top: 2rem;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: coral;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/*===== VENUE FULL SCREEN=====*/

.venuepage {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  min-height: 82vh;
  width: 67%;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 100;
  box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
}

@media screen and (min-width: 768px){
  .venuecontent {
    max-width: 100%;
    margin: 3rem 1rem 0rem 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "venimage vencontent";
  }
}

.venuetext {
  grid-area: vencontent;
  margin: 3rem 2rem 0rem 0rem;
  text-align: justify;
}

.venuetext h1 {
  font-size: 3rem;
}

.venuetext hr{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.venuetext p {
  margin-bottom: 2rem;
}

.takemethere {
  margin-top: 1rem;
}

.venuetext h4 {
      transition: transform .3s;
      font-size: 1.2rem;
}

.venuetext h4:hover {
  transform: translateY(5.5px);
}

.venuetext a {
  transition: transform .3s;
}

.venuetext a:hover {
color: salmon;
}

.venueimage {
  margin-top: 3rem;
  width: 30rem;
  height: 60vh;
  grid-area: venimage;
  margin-bottom: 30px;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 2rem;
  padding-top: 2rem;
}

.venueimage .img4 {
  background: #000;
  height: 25%;
  width: 100%;
  margin-bottom: 1rem;
}

.venueimage .img5 {
  background-color: aqua;
  height: 25%;
  margin-bottom: 1rem;
}

.venueimage .img6 {
  background: bisque;
  height: 25%;
}

/*===== ABOUT US FULL SCREEN=====*/

.aboutpage {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  min-height: 82vh;
  width: 67%;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 100;
  box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
}

@media screen and (min-width: 768px){
  .aboutcontent {
    max-width: 100%;
    height: 100%;
    margin: 1rem 1rem 0rem 1rem;
    height: 100%;
  }
}

.navaboutus {
  display: flex;
  align-items: center;
  margin-left: 75%;
}

.navaboutus p {
font-size: 0.8rem;
}

.navaboutus img {
  height: 1.8rem;
  margin-left: 1rem;

}

.aboutus {
  margin-top: 2px;
  padding-top: 30px;
  color:black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abouttitle {
  font-size: 1rem;
  text-align: center;
}

.aboutus hr {
  width: 400px;
}

.people {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

 .kolum {
  background-color: rgb(243, 240, 240);
  min-height: 50vh;
  width: 25%;
  margin: 1rem 2rem 1rem 1rem;
  text-align: center;
  font-size: 0.8rem;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
}

.kolum:hover {
  transform: translateY(5px);
  box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  background: rgb(100, 99, 99);
  color: white;
}

.kolum a:hover {
  color: tomato;
}

.kolumimg {
  background: rgb(190, 201, 206);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 17vh;
}

.kolumimg img {
  height: 68px;
  width: 68px;
  background: white;
  padding: 0.5rem;
  border: solid 3px rgb(65, 64, 64);
  border-radius: 2rem;
}

.kolumtext {
  margin: 1rem 1rem 1rem 1rem;
}

.kolum h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px grey;
}

.kolum hr {
  width: 100px;
  display: inline-block;
  margin-top: 0.7rem;
}

.kolumtext p {
  text-align: justify;
  font-size: 0.69rem;
  margin: 1.3rem 0.5rem 2rem ;
}

.kolumsocials {
  margin-bottom: 2rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 27%;
  height: 51vh;
  padding: 5px 15px 5px 10px;
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  font-size: 0.8rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
}

.flip-card hr {
  width: 300px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(243, 240, 240);
  color: black;
}

.flip-card-front h3 {
  border-bottom: solid 1px grey;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(190, 201, 206);
  color: rgb(5, 5, 5);
  transform: rotateY(180deg);
  padding: 2rem;
}

/*===== The Team FULL SCREEN=====*/

.teampage {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  min-height: 82vh;
  width: 67%;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 100;
  box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -webkit-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
  -moz-box-shadow: -15px 14px 26px 2px rgba(85,73,73,0.24);
}

.teamheading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px){
  .teamcontent {
    max-width: 100%;
    margin: 3rem 1rem 0rem 1rem;
    height: 100%;
  }
}

.gallery {
  margin-top: 2rem;
  margin-left: 10rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-item {
  background: rgb(250, 249, 249, 0.3);
  width: 8rem;
  height: 10rem;
  margin: 8px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.2);
  box-shadow: -4px 15px 33px -12px rgba(0,0,0,0.39);
  -webkit-box-shadow: -4px 15px 33px -12px rgba(0,0,0,0.39);
  -moz-box-shadow: -4px 15px 33px -12px rgba(0,0,0,0.39);
}

.gallery img {
  position: absolute;
  width: 8rem;
  height: 8rem;
  transition: transform 0.3s ease;
}

.text-wrapper {
  position: relative;
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.text-wrapper:hover {
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.name, .title {
  font-size: 0.6em;
}

@media only screen and (max-width: 1024px) {
  .text-wrapper {
    opacity: 1;
    justify-content: flex-end;
    text-shadow: 1px 1px 1px #000;
  }
  .title {
    margin-bottom: 1em;
  }
}